body {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 2fr) 150px 1fr;
    grid-template-rows: 50px auto auto auto;
    grid-template-areas: '. . . .'
    '. header header .'
    '. main aside .'
    '. footer footer .';
    grid-gap: 20px;
    margin:0;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
}
footer {
    grid-area: footer;
}
div.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-auto-rows: 10%;
    grid-gap: 10px;
}
div.gallery > img {
    object-fit: cover;
}
#logo {
    grid-area:1/1/3/5;
    object-fit: cover;
    height: 200px;
    width: 100%;
    z-index: -1;
}